<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Cislunar智能</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.9</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppKey</key>
	<string>2817cb10f5e5c</string>
	<key>MOBAppSecret</key>
	<string> 710caeaed6209382bee1312589c8ba55</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>App需要您的同意才可使用手机照相机进行摄像头扫描二维码添加</string>
	<key>NSContactsUsageDescription</key>
	<string>App需要您的同意才可以调用您的通讯录配合语音合成检测</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App需要您的同意，使用定位及时获取到天气详细信息</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App需要您的同意，使用定位及时获取到天气详细信息</string>
	<key>NSLocationUsageDescription</key>
	<string>App需要您的同意使用定位功能获取到当地的天气情况</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App需要您的同意,才能通过访问位置﻿﻿实时获取当地最新天气</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App需要您的同意访问麦克风进行语音控制场景实现</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App需要您的同意才可使用手机相册进行摄像头拍照存取</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App需要您的同意才可使用手机相册进行摄像头录像存储</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
